<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <style>
        .naumen-logo {
            color: #ff7700;
        }
    </style>
    <title>Авторизация</title>
</head>
<body>
<div class="container">
    <h1 class="naumen-logo">Naumen course</h1>
    <h2>Авторизация</h2>
    <hr />

    <form th:action="@{/login}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Введите имя пользователя" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Введите пароль" required />
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Войти" />
        </div>
    </form>
    <p>Нет аккаунта? <a th:href="@{/registration}">Зарегистрируйтесь</a>.</p>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>
